/* * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
} */

img {
    width: 140px;
    /* border: solid 2px black; */
    margin: 10px;
    padding: 10px;
}

#header {
    text-align: center;
    font-size: large;
    font-family: fantasy;
}

.parentContainer {
    border: solid 4px black;
    display: flex;
    flex-direction: column;

}

.row {
    border: 3px solid red;
    display: flex;
  }
  .player {
    border: 3px solid purple;
    width: 250px;
    height: 298px;
  }
  .character {
    border: 2px solid green;
    width: 400px;
    
  }



p {
    /* border: solid 2px blue; */
    padding: 10px;
    margin: 10px;
    font-family: fantasy;
}





