/* * {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
} */

img {
    width: 140px;
    border: solid 2px black;
    margin: 10px;
    padding: 10px;
}

#header {
    text-align: center;
    font-size: large;
    font-family: fantasy;
}

.parentContainer {
    border: solid 2px black;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    /* align-content: space-evenly; */
    height: 100%;
    

}

.divBlock0 {
    flex: 2;
    border: solid 2px purple;
    flex-basis: 30%;
    
    
}

.divBlock1 {
    flex: 2;
    border: solid 2px purple;
    flex-basis: 30%;
}

.divBlock2 {
    flex: 2;
    border: solid 2px purple;
    flex-basis: 30%;
}

.divBlock3 {
    flex: 2;
    border: solid 2px purple;
    flex-basis: 30%;
}

p {
    /* border: solid 2px blue; */
    padding: 10px;
    margin: 10px;
    font-family: fantasy;
}

.playerSelectionBlock {
    border: solid 2px red;
    flex-basis: 30%;
    
    
}




