* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* font: inherit; */
    vertical-align: baseline;
}

img {
    width: 140px;
    /* border: solid 2px black; */
    margin: 10px;
    padding: 10px;
}

div {
    font-family: fantasy;
    font-size: 15px;
}

#header {
    text-align: center;
    font-size: large;
    font-family: fantasy;
}

/* .parentContainer {
    border: solid 4px black;
    display: flex;
    flex-direction: column;
    
}

.row {
    border: 3px solid red;
    display: flex;
  }
  .player {
    border: 3px solid purple;
    width: 250px;
    height: 530px;
  }
  .character {
    border: 2px solid green;
    width: 800px;
    flex-wrap: wrap;
    
    
  }

  .description {
      text-align: right;
  } */


/* p {
    border: solid 2px blue;
    padding: 10px;
    margin: 10px;
    font-family: fantasy;
} */

h3 {
    font-family: fantasy;
    font-size: 30px;
}


/* testing grid */
.wrapper {
    display: grid;
    grid-template-columns:2fr 1fr 2fr;
}

.nested {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



.wrapper > div {
    background: gray;
    padding: 1em;
}

.wrapper > div:nth-child(odd) {
    background: silver;
    padding: 1em;
}




#storyPage {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}